<!DOCTYPE html>
<html lang="de">

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ace-editor-builds@1.2.4/src-min-noconflict/ace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.0/lib/p5.min.js"></script>
    <script type="text/javascript" src="./src/brython_coderunner.js"></script>
    <script type="text/javascript" src="./src/brython_coderunner.css"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brython Runner</title>
</head>

<body>
    <p class="marked">
# Test

```brython_coderunner
{"options":"editor console buttons brocessing", "height": "300"}

fill(100,200,200)
ellipse(50,50,80,80)

```

    </p>
    <script lang="text/javascript" src="{% static 'all/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
<script>
    $("body").html(marked($(".marked").text()));
    brython_coderunner("./").then(function() {});
</script>




</html>