.code {
    display: none;
  }
  .canvas_row {
    margin-top: 10px;
  }
  .canvas {
      margin-left: auto;
      margin-right: auto;
     
      }
  
  .p5Canvas {
      border: 1px solid grey;
      box-shadow: 2px 2px 4px rgba(100,100,100,0.4);
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  
  .buttons_row {
    margin-top: 10px;
  }
  .console-wrapper {
    background-color: #ddd;
    flex-grow: 1;
    margin-top: 10px;
  }
  
  .console-wrapper h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  background-color: #444;
  color: white;
  padding: 4px;
  box-shadow: 2px 2px 4px rgb(100, 100, 100);
  }
  
  .spinner {
  height: 80px;
  background-color: lightgrey;
  }
  
  .lds-ring {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #666 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #editor {
          position: relative;
          width: 100%;
          border: 1px solid grey;
          min-height: 100px;
          width: 100%;
      }